https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/script/QX_XiaoMao_rw5.conf, tag=会员脚本·自定义·XiaoMao重写5, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoHeXun.js, tag=会员脚本·和讯财经, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoEFHello.js, tag=会员脚本·EFHello·BoxJS, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Guding88/Script/main/APPheji_Guding.sgmodule, tag=骨钉合集, update-interval=172800, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/hhllq.js, tag=狐猴浏览器, update-interval=172800, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/haijiao.js, tag=会员脚本●海角社区, update-interval=-1, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/qy.js, tag=ios鸡神-妻友, update-interval=172800, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/mdsq.js, tag=麻豆传媒, update-interval=172800, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Advertising/main/sssp.js, tag=去广告脚本●涩涩视频, update-interval=-1, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/WeiRen0/Free1/main/Lsp.conf, tag=老色痞合集, update-interval=-1, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/TikTok/TikTok-JP.conf, tag=TikTok·日本, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/TikTok/TikTok-TW.conf, tag=TikTok·台湾, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/TikTok/TikTok-KR.conf, tag=TikTok·韩国, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/TikTok/TikTok-US.conf, tag=TikTok·美国, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ioshkj/iOS-TikTok/main/Quantumult%20X/TikTok-SG.conf, tag=TikTok-新加坡, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ioshkj/iOS-TikTok/main/Quantumult%20X/TikTok-RU.conf, tag=TikTok-俄罗斯, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ioshkj/iOS-TikTok/main/Quantumult%20X/TikTok-FR.conf, tag=TikTok-法国, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ioshkj/iOS-TikTok/main/Quantumult%20X/TikTok-VN.conf, tag=TikTok-越南, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ioshkj/iOS-TikTok/main/Quantumult%20X/TikTok-TH.conf, tag=TikTok-泰国, update-interval=-1, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoWeiBo.js, tag=会员脚本·微博, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoCaiYunWeather.js, tag=会员脚本·彩云, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/deezertidal/QuantumultX-Rewrite/master/rewrite/bsxm.conf, tag=小麦会员, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoXiaoShuiMian.js, tag=会员脚本·小睡眠, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoHuanXiu.js, tag=会员脚本·幻休, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/YDLD.js, tag=有道乐读, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/sleepcycle.js, tag=sleepcycle, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/deezertidal/QuantumultX-Rewrite/master/rewrite/qifu.conf, tag=起伏, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/RainViewer.js, tag=天气, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/xiaohongshu.snippet, tag=xiaohongshu, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/NobyDa/Script/master/QuantumultX/TestFlightDownload.conf, tag=TF下载解锁@NobyDa, update-interval=172800, opt-parser=false, enabled=true
https://gist.githubusercontent.com/ddgksf2013/dbb1695cd96743eef18f3fac5c6fe227/raw/revenuecat.js, tag=目标地图, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/kuaizhitubiao.js, tag=快图制表, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/wxds.js, tag=微信读书, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/xunlei.js, tag=迅雷, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/lianzhidao.js, tag=追爱键盘, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/xsy.js, tag=小爽音, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Crazy-Z7/Scrip/main/aptv.js, tag=APTV, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/fengkuangapp.js, tag=疯狂背单词, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/xgkjdytt.js, tag=笔趣阁, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/app2smile/rules/master/module/spotify.conf?raw=true, tag=spotify@app2smile, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/aiyufa.js, tag=爱语法, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/Reheji.js, tag=背单词, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/zqzess/rule_for_quantumultX/master/QuantumultX/rewrite/FanQieNovel.qxrewrite, tag=番茄小说, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/LeLeBay/rewrinte/main/youtubecc.conf, tag=youtubecc, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/Wyy.js, tag=网易云音乐, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Marol62926/Quantumultx/main/bazaart.conf, tag=bazaart解锁, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/zhbd.js, tag=ios鸡神-知乎会员, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/chxm1023/Rewrite/main/uua.js, tag=uua, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMao1Blocker.js, tag=恢复·1Blocker, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/chxm1023/Advertising/main/YouTube/YoutubeAds.conf, tag=油管去广告, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/bilibilibd.js, tag=B站会员, update-interval=-1, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/nameking77/Qx/main/rewrite/kw.js, tag=酷我音乐10.4.6, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/Aihh.js, tag=AI作画, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/io111.js, tag=MJ中文版, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/jjxrsl.js, tag=经济学人商论, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/WPS.js, tag=wps, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/WeiRen0/Scripts/main/slzd.js, tag=三联中读📖, update-interval=-1, opt-parser=true, enabled=true
https://gist.githubusercontent.com/ddgksf2013/f43026707830c7818ee3ba624e383c8d/raw/baiduCloud.vip.js, tag=百度网盘, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/WeiRen0/Scripts/main/ZHVIP.js, tag=知乎SVIP, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoALiCloud.js, tag=阿里云盘, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/kuake.js, tag=夸克浏览器, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/wyydcd.js, tag=有道词典, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/gjwj666/qx/main/llsyd.js, tag=流利说阅读, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/Vista.js, tag=看天下, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/yqc007/QuantumultX/master/SoulSuperVipCrack.js, tag=soulmate, update-interval=-1, opt-parser=true, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/FT.js, tag=TF中文网, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/renrenshipin.js, tag=人人视频, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/lunlunkj.js, tag=乐刷短剧, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/today365.js, tag=瑞网微视, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/PureLibro.js, tag=阅读器, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chxm1023/Rewrite/main/dejianxiaoshuo.js, tag=得间小说, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/NobyDa/Script/master/QuantumultX/File/Zymh.js, tag=知音漫客, update-interval=-1, opt-parser=true, enabled=true
https://raw.githubusercontent.com/xiaomaoJT/QxScript/main/rewrite/boxJS/XiaoMaoTodayHotList.js, tag=今日热点, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/chavyleung/scripts/master/box/rewrite/boxjs.rewrite.quanx.conf, tag=🌏boxjs, update-interval=172800, opt-parser=true, enabled=true